.text_entrance {
    animation: textEntrance .8s ease forwards;
    animation-delay: .5s;
}

@keyframes textEntrance {
    from {
        transform: translateX(300px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.btn_entrance {
    animation: btn_entrance .8s ease forwards;
    animation-delay: 1.5s;
}

@keyframes btn_entrance {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.vector_entrance {
    animation: vector_entrance .8s ease forwards;
    animation-delay: 2.3s;
}

@keyframes vector_entrance {
    from {
        transform: translateX(400px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn ease forwards;
    animation-duration: .3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.vectorEntrance {
    animation: vectorEntrance .5s ease forwards;
    animation-delay: 1s;
}

@keyframes vectorEntrance {
    from {
        opacity: 0;
        transform: translate(-50%, -10%);
        visibility: hidden;
    }

    to {
        transform: translate(-50%, -50%);
        opacity: 1;
        visibility: visible;
    }
}

.formEntrance {
    animation: formEntrance .5s ease forwards;
    animation-delay: .5s;
}

@keyframes formEntrance {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}